@font-face {
  font-family: fontt;
  src: url(/public/allover-modern-demo/ALLOVER\ MODERN\ DEMO.otf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-container {
    text-align: center;
    padding: 0 0px;
  }
  
  .hero-section {
    background-color: #009688;
    font-family:fontt;
    color: white;
    padding: 100px 20px;
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #e64a19;
  }
  
  .services-section {
    padding: 50px 20px;
  }
  
  .services-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .services-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 280px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .card img {
    width: 100%; /* Full width image */
    height: 100px; /* Fixed height for the image */
    object-fit: cover; /* Ensure image covers the area */
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }
  
  .publicDomain{
    margin-top: 100px;
  }
.pmm{
  width: 80%;
  display: flex; /* Use Flexbox for alignment */
  justify-content: space-around; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: end;
  margin: 0 auto; /* Center horizontally within the parent */
  height: 100vh; /* Assuming you want it centered within the full viewport height */
}
  .pm span{
    color: #009688;
  }
  .img1 img{
    width: 70vh;
    height: 50vh;
  }

  .footer {
    background-color: #28328C;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
  }
  
  .footer p {
    margin: 0;
  }

  .foo{
    width: 80%;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    display: flex;
    margin: 0 auto; /* Center horizontally within the parent */
    height: 30vh;
  }
  